<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autenticando Suas Compras Online</title>
    <link rel="stylesheet" href="/estilo/styles.css">
</head>
<body>
    <header>
        <img src="/assets/trustshiedEscudo.png" alt="Trustshield Logo" class="logo">
    </header>
        <main class="url-section">
            <h2>Insira a URL do Site</h2>
            <p>Basta inserir a URL do site onde você pretende comprar o produto e nosso software fará uma análise completa.</p>
            <div class="url-input">
                <input type="url" placeholder="https://exemplo.com" required>
                <button class="button">Analisar</button>
            </div>
        </section>
    </main>
</body>
</html>

